.login-form-container {
  text-align: center;
  margin: 1% auto;
  width: 40%;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 12px;
  background-color: rgb(235, 235, 235);
  color: #eee;
  padding: 40px;
}

.login-input {
  font-size: 1.5em;
  text-align: center;
  padding: 5px;
  max-width: 100%;
  margin-bottom: 3%;
  border-radius: 12px;
}
