.featured-blog-container {
  text-align: center;
  margin: 1% auto;
  width: 100%;
}

.featured-top-container {
  color: #eee;
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.featured-card {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 12px;
  background-color: var(--mainColor);
  max-height: 25em;
  min-width: 200px;
  margin: 2.5%;
  border-radius: 12px;
  width: 20%;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.featured-card-image {
  width: 100%;
  height: 25em;
  border-radius: 12px;
}

.featured-title {
  text-align: left;
  width: 75%;
  margin: auto;
  padding-bottom: 5px;
}

.featured-title-linebreak {
  width: 75%;
  margin: auto;
}

.featured-link {
  text-decoration: none;
}

.featured-card-title {
  padding: 10px;
}

.featured-card-meta {
  position: relative;
  background-color: rgba(176, 63, 63, 0.5);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  top: -200px;
  height: 12.5em;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .featured-card {
    width: 90%;
    margin-bottom: 3%;
  }
}
