.article-content-text-area {
  width: 100%;
  resize: none;
  height: 400px;
}
.add-article-page-title {
  text-align: center;
  margin-top: 3%;
}

.add-article-container {
  text-align: left;
  margin: 1% auto;
  width: 40%;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 12px;
  background-color: var(--mainColor);
  color: #eee;
}

.add-article-input {
  font-size: 1.5em;
  text-align: left;
  padding: 5px;
  width: 100%;
  margin-bottom: 3%;
}

@media screen and (max-width: 1024px) {
  .add-article-container {
    width: 80%;
  }
  .signup-input {
    font-size: 1em;
    text-align: center;
    padding: 5px;
  }
}
