.article-content-text-area {
  width: 100%;
  resize: none;
  height: 400px;
}
.add-article-page-title {
  text-align: center;
  margin-top: 3%;
}

.add-article-container {
  text-align: left;
  margin: 1% auto;
  width: 40%;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 12px;
  background-color: var(--mainColor);
  color: #eee;
}

.add-article-input {
  font-size: 1.5em;
  text-align: left;
  padding: 5px;
  width: 100%;
  margin-bottom: 3%;
}

.add-tag-input {
  font-size: 1.5em;
  text-align: left;
  padding: 5px;
  width: 70%;
  margin-bottom: 3%;
}

.add-tag-btn {
  margin: 0 2%;
  padding: 5px;
}

.tag-delete-btn {
  display: inline;
  color: black;
  cursor: pointer;
}

.tag-delete-btn:hover {
  color: white;
}

.tag-name {
  display: inline;
  padding: 10px;
}

.tag-container {
  width: fit-content;
  padding: 10px;
  background-color: rgb(0, 153, 153);
  margin: 1%;
  border-radius: 12px;
  display: inline;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.tag-display {
  padding: 10px;
  margin-bottom: 2%;
}
@media screen and (max-width: 1024px) {
  .add-article-container {
    width: 80%;
  }
  .signup-input {
    font-size: 1em;
    text-align: center;
    padding: 5px;
  }
}
